---
import galfreBio from '../../assets/img/galfre-rostro.png'

---

<section class="section textos bio">
  <h2 class="title">Proyecto / Bio</h2>
  <div class="flex">
    <img class="img-bio" src={galfreBio.src} alt="imagen del rostro de Pablo Galfré">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi placeat delectus consequuntur quisquam. Ea a illum nulla excepturi dolores iusto? Nesciunt atque praesentium cupiditate nihil tenetur unde quaerat eos quae.</p>
  </div>
</section>


<style>
  .section {
		width: min(100% - 2rem, 1440px);
  		margin-inline: auto;
		padding-block: 1rem;
	}

	.img-bio {
		max-width: 300px;
	}

	@media (max-width: 600px) {
		.flex {
			flex-direction: column;
		}	
	}

</style>