---
import galfreBio from "../../assets/img/galfre-rostro-2.png";
---

<section class="section textos bio">
  <h2 class="title">Sobre mí</h2>
  <div class="flex">
    <div>
      <p>
        Desde hace <strong
          >más de 20 años soy tan sólo un incansable periodista e investigador.</strong
        > Siempre en busca de historias interesantes por contar, vivir y que muevan
        los cimientos de la sociedad.
      </p>
      <p>
        Así fue cómo, a través de los años, logré ser parte de dos gestas
        colectivas que me llenan de orgullo:
      </p>
      <p>
        El documental <strong>El Rati Horror Show</strong>, dirigido por Enrique
        Piñeyro, que posibilitó la liberación de Fernando Carrera, un hombre
        condenado a 30 años de prisión por un crimen que no había cometido.
      </p>
      <p>
        La Comunidad, viaje al abismo de una granja de rehabilitación (Editorial
        Sudestada) libro de <strong
          >investigación periodística que derivó en el cierre de dos grajas
        </strong> donde se vulneraban los derechos humanos de los consumidores de
        drogas.
      </p>
      <p>
        Eso soy. Alguien que le gusta chusmear en mundos ajenos, distintos,
        usando distintos formatos. Así fue como también <strong
          >publiqué la novela gráfica Gatillo fácil</strong
        >(basada en la historia del Rati) y el <strong
          >podcast Muertes en el internado</strong
        >, documental sonoro basado en el libro La Comunidad, el cual produje,
        guioné y conduje.
      </p>
      <p>
        A partir de estas investigaciones periodísticas también me transformé en
        un investigador privado sui generis. Desde hace unos años realizó
        investigaciones para Innocence Project Argentina, ONG que se dedica a
        defender a personas que fueron condenadas por crímenes que no
        cometieron. Me dedico a
        <strong
          >desarmar causas judiciales armadas por la policía y la justicia.</strong
        >
      </p>
    </div>
    <img
      class="img-bio"
      src={galfreBio.src}
      alt="imagen del rostro de Pablo Galfré"
    />
  </div>
</section>

<style>
  .section {
    width: min(100% - 2rem, 1440px);
    margin-inline: auto;
    padding-block: 1rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex > div {
    width: 60%;
  }
  div > p {
    padding-rigth: 2rem;
    margin-bottom: 0.8rem;
  }

  .img-bio {
    max-width: 300px;
    object-fit: cover;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 950px) {
    img {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .flex {
      flex-direction: column;
    }
    .flex > div {
      width: 100%;
    }
  }
</style>
