<section class="section textos trayectoria">
  <h2 class="title">Trayectoria</h2>
  <div class="timeline">
    <p>
      Desde hace <strong>más de 20 años</strong> trabajo como <strong
        >productor de documentales y TV.</strong
      > Para la productora Kapow y la plataforma Paramount produje, durante 2023,
      el documental Nahir, el secreto de un crimen, sobre el asesinato de Fernando
      Pastorizzo y Nahir Galarza, condenada a perpetua por el crimen de su novio.
    </p>
    <p>
      Para Anima Films he producido los siguientes documentales:
      <br />
      <strong>Los Ladrones</strong> (Netflix, 2022. Sobre el famoso Robo del Siglo
      al Banco Río).<br />
      <strong>Antes de que nos olviden</strong> (HBO, 2014. Sobre la falsa “guerra
      contra el narcotráfico” en México).<br />
      <strong> ¿Quién mató a Pablo Escobar?</strong> (Infinito, 2013).<br />
      <strong>Arrepentidos</strong> (Natgeo, 2013).<br />
      <strong>Crisis</strong>(Acua TV, 2012).<br />
      <strong>La era de Kirchner</strong> (Infinito, 2011).<br />
      <strong>Colapso 2001</strong> (Discovery Channel, 2011).<br />
      <strong>Buscando asilo</strong> (Discovery Channel, 2010).<br />
      <strong>Confesiones de un sicario</strong> (Infinito, 2010).<br />
      <strong>Los nazis en México</strong> (Discovery Channel, 2010).<br />
      <strong>La ley del corrido</strong> (Discovery Channel, 2009).<br />
    </p>
    <p>
      <strong>Idea original, productor y guionista de En la ópera (2014)</strong
      >, documental sobre el proceso creativo de puesta en escena de Anna
      Bolena, ópera llevada a cabo por Buenos Aires Lírica. Canal Encuentro.
    </p>
    <p>
      Como periodista de gráfica publiqué varios artículos en las revistas La
      Izquierda Diario, THC, C (del extinto diario Crítica), Hombre, El Cisne,
      Emeequis (revista mexicana) y Nuestras voces.
    </p>
    <p>
      Desde septiembre de 2004 hasta junio de 2007 me desempeñé como cronista,
      productor periodístico y camarógrafo en la productora de televisión
      Endemol Argentina:<br />

      . Productor periodístico de Cámara Testigo. (Programa periodístico,
      emitido por Canal 2). (Septiembre 2004 – agosto 2005).<br />
      . Cronista y productor periodístico de Cámara en Mano. (Programa periodístico/humorístico
      conducido por Matías Martin, emitido por Telefé). (Agosto 2005 – febrero 2006).<br
      />

      . Productor periodístico de Blog. (Programa periodístico conducido por
      Daniel Tognetti, emitido por Canal 9). (Febrero 2006 – diciembre 2006).<br
      />
      . Productor periodístico y camarógrafo de Cámara Testigo – Segunda temporada.
      (Canal 2). (Diciembre de 2006 – junio de 2007).
    </p>
  </div>
</section>

<style>
  /* p {
    margin-bottom: .8rem;
  } */
  .timeline {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
  }

  p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(
      to right,
      var(--cl-dark-blue) 0%,
      var(--cl-ligth-blue) 100%
    );
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: black;

    /* //numbers */
    &::before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: var(--cl-dark-blue);
      text-align: center;
      line-height: 1.25em;
      color: white;
      font-size: 1em;
    }
  }
  /* //odd number borders */
  p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;

    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  /* //even number borders */
  p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;

    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  /* //handle first and last */
  p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>
