<section class="section textos trayectoria">
  <h2 class="title">Trayectoria</h2>
  <p>
    Publiqué dos libros: la novela gráfica Gatillo fácil (Llanto de mudo, 2015,
    sobre el mismo caso de El Rati Horror Show) y La Comunidad – Viaje al abismo
    de una granja de rehabilitación (Editorial Sudestada - 2017), una
    investigación periodística sobre secuestro, tortura y muerte en comunidades
    terapéuticas de rehabilitación de adictos. A partir del libro se consiguió
    la clausura de la granja San Camilo y la elevación a juicio por el homicidio
    culposo de Saulo Rojas, un joven que murió dentro de una celda de esa
    institución. Como productor de Anima Films he ideado y producido Buscando
    asilo y Confesiones de un sicario (este último nominado a las premios Emmy
    como mejor documental).
  </p>
  <p>
    En diciembre de 2014 se estrenó por HBO el documental Antes de que nos
    olviden, documental sobre la "guerra al narco" en México, que produje,
    guioné y también fue nominado a los Emmy’s. Como cronista de gráfica escribí
    varias crónicas, generalmente sobre temas sociales, para la revista del
    diario Crítica, THC, Hombre, El Cisne y Emeequis, de México.
  </p>
</section>

<style>
  p {
    margin-bottom: .8rem;
  }
</style>