
<section class="section textos trayectoria">
  <h2 class="title">Trayectoria</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt minus itaque ex, nihil nemo fuga repudiandae, consequatur non eum deserunt repellendus repellat placeat adipisci quae ducimus dicta doloribus corrupti.</p>
</section>

