---
import Layout from "../layouts/Layout.astro";
import home from "../assets/img/home.jpeg";
import Biografia from "../components/main/Biografia.astro";
import Trayectoria from "../components/main/Trayectoria.astro";
import Libros from "../components/Libros.astro";
import Documentales from "../components/Documentales.astro";
import Articulos from "../components/Articulos.astro";
import Podcasts from "../components/main/Podcasts.astro";
---

<Layout title="Pablo Galfré">
  <section class="hero" style={`background-image: url(${home.src});`}>
    <!-- <h2 id="title">Periodismo</h2>
    <h2>Podcast</h2>
      <h2>Documentales</h2> -->
  </section>
  <Documentales />
  <Podcasts />
  <Libros />
  <Articulos />
  <Biografia />
  <Trayectoria />
  
</Layout>

<style>
  .hero {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
  }
  
  .hero h2 {
    color: var(--cl-white);
    font-weight: 600;
    font-size: 4rem;
    align-self: center;
    margin-right: 1rem;
  }
  
  .img-bio {
    max-width: 300px;
  }
  </style>

<!-- <script>
  const titles = ["Periodismo", "Podcast", "Documentales"];
  let title = titles[0];

  const changeTitle = () => {
    const nextTitle = titles.shift();
    titles.push(nextTitle);
    title = nextTitle;
    document.querySelector("#title").textContent = title;
  };

  setInterval(changeTitle, 2000);
</script> -->

