---
import Layout from '../layouts/Layout.astro';
import galfreBio from '../assets/img/galfre-rostro.png'
---

<Layout title="Pablo Galfré">
	<main>
		<section class="hero">
			<h1>Página de Pablo Galfré</h1>
		</section>
		<section class="section textos bio">
			<h2 class="title">Proyecto / Bio</h2>
			<div class="flex">
				<img class="img-bio" src={galfreBio.src} alt="imagen del rostro de Pablo Galfré">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi placeat delectus consequuntur quisquam. Ea a illum nulla excepturi dolores iusto? Nesciunt atque praesentium cupiditate nihil tenetur unde quaerat eos quae.</p>
			</div>
		</section>
		<section class="section textos trayectoria">
			<h2 class="title">Trayectoria</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt minus itaque ex, nihil nemo fuga repudiandae, consequatur non eum deserunt repellendus repellat placeat adipisci quae ducimus dicta doloribus corrupti.</p>
		</section>
		<section class="libros">
			<h2 class="title">Libros</h2>
		</section>
		<section class="documentales">
			<h2 class="title">Documentales</h2>
		</section>
		<section class="section articulos">
			<h2 class="title">Artículos</h2>	
			<div class="articulo flex">
				<img class="img img-articulos" src="" alt="imagen del artículo El fetiche diferente">
				<div>
					<h3 class="articulo-title">El fetiche diferente</h3>
					<p class="text articulo-text">Articulo publicado en la revista C del diario Crítica (2008) y en Emeequis (México). Ustedes dirán que exagero, pero les juro que no es así. Ya verán. Todo empezó por</p>
					<button class="btn leer-mas">Leer más</button>
				</div>
			</div>
		</section>
		<section class="section podcast">
			<h2 class="title">Podcast</h2>
			<div class="podcast-wrapper">
				<div class="flex">
					<img src="" alt="imagen del podcast Muertes en el internado">
					<div>
						<h3 class="podcast-title">Muertes en el internado</h3>
						<p class="text text-podcast">El 22 de febrero cuatro jóvenes murieron ahogados por monóxido de carbono en un incendio en ese centro de “salud mental” del norte del Gran Buenos Aires. El hecho no tuvo casi cobertura mediática, pese a que se sabía incluso que el lugar no contaba con habilitación del Ministerio de Salud bonaerense. ¿Quién es Alejandro					Merenzon, responsable de que varios de esos jóvenes fueran internados en esa comunidad y que hace décadas lucra con la vida y la muerte de consumidores problemáticos de drogas? ¿Qué rol cumple el Órgano de Revisión de la Ley de Salud Mental provincial?
						</p>
						<button class="btn ver-mas">Ver más</button>
					</div>	
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>

	main {
		width: min(100% - 2rem, 1440px);
  		margin-inline: auto;
	}

	.section {
		padding-block: 1rem;
	}

	.img-bio {
		max-width: 300px;
	}

	.articulo {
		background-color: var(--cl-ligth-blue);
		border-radius: 10px;
	}
	.img-articulos {
		padding: .5rem;
	}

	.podcast-wrapper {
		background-color: var(--cl-ligth-blue);
		color: var(--cl-white);
	}
	
</style>
