---
import Layout from "../layouts/Layout.astro";
import Libro from "../components/Libro.astro";
---

<Layout title="Libros">
  <main>
    <h2 class="title title-libros">Libros</h2>
    <div class="wrapper">
      <section class="section">
        <Libro />
      </section>
      <aside class="section">
        <div class="card">
          <div>
            <img src="" alt="" />
            <h3>Gatillo fácil</h3>
            <h2>Fecha</h2>
          </div>
          <p class="text">Réquiems es (fue) un experimento de divague alrededor de la finitud y las penas (capitales). Es una pregunta constante de si realmente todo está perdido. ¿Acaso a veces no sucede que la condena en realidad no es esa que mora amenazante ante nosotros? Sino otra, que como un camaleón se esconde tras de sí mismo; o como un oxímoron, donde yacen tanto variedades contradictorias como posibles.
        </p>
        </div>
      </aside>
    </div>
  </main>
</Layout>

<style>
  .title-libros {
    text-align: center;
    padding-block: 1rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  }
</style>
