---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Libros'>
    <main>
        <h2>Libros</h2>
        <section>
            <div class="main-libros-wrapper">
                <img src="" alt="">
                <h3>La comunidad, viaje a los abismos de una granja de rehabilitación</h3> <span class="fecha">Abril 2014</span>
                <p>Autor de este libro de investigación, editado por Sudestada en 2017, que posibilitó el cierre de dos granjas de rehabilitación y, por primera vez en la historia de Argentina, la elevación a juicio de una muerte dudosa en una institución de salud mental. </p>
            </div>

        </section>
        <aside>

        </aside>
    </main>
</Layout>

<style>

    .main-libros-wrapper {
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

</style>