---
import elFetiche from "../assets/img/articulos/articulos-el-fetiche.jpeg";
import rebelion from "../assets/img/articulos/articulos-rebelion.jpeg";
import masacre from "../assets/img/articulos/articulos-masacre.jpg";
---

<section class="section articulos">
  <h2 class="title">Artículos</h2>
  <section>
    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={masacre.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">
            ¿Quiénes son los responsables por la masacre en la granja
            Resiliencia San Fernando de Pilar?
          </h3>
          <p class="text articulo-text">
            El 22 de febrero cuatro jóvenes murieron ahogados por monóxido de
            carbono en un incendio en ese centro de “salud mental” del norte del
            Gran Buenos Aires. El hecho no tuvo casi cobertura mediática, pese a
            que se sabía incluso que el lugar no contaba con habilitación del
            Ministerio de Salud bonaerense.
          </p>
        </div>
        <a
          href="https://www.laizquierdadiario.com/Quienes-son-los-responsables-por-la-masacre-en-la-granja-Resiliencia-San-Fernando-de-Pilar"
          target="_blank"
          rel="noreferrer"
          class="btn leer-mas">Leer más</a
        >
      </div>
    </div>

    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={rebelion.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">Rebelión en la granja</h3>
          <p class="text articulo-text">
            Hacía dos días había caído preso por unas horas en la comisaría de
            Mataderos. La cana lo había agarrado con un par de dosis de paco.
            Estaba durmiendo cuando su madre y sus lágrimas lo despertaron y le
            rogaron por favor que se internara. Se durmió después de darle un
            beso y decirle que sí.
          </p>
        </div>
        <a href="articulos.html" class="btn leer-mas">Leer más</a>
      </div>
    </div>
    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={elFetiche.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">El fetiche diferente</h3>
          <p class="text articulo-text">
            Ustedes dirán que exagero, pero les juro que no es así. Ya verán.
            Todo empezó por casualidad en un puesto de diarios que está en la
            cosmopolita Plaza Italia. Me encanta mirarlo detenidamente porque
            hay publicaciones de todo el mundo: siempre observo sus revistas
            buscando alguna historia rara e interesante por contar. Y así fue
            como descubrí a la revista El Cisne.
          </p>
        </div>
        <a href="articulos.html" class="btn leer-mas">Leer más</a>
      </div>
    </div>
  </section>
</section>

<style>
  .articulo {
    margin-block: 1rem;
    background-color: var(--cl-ligther-blue);
    box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem;
  }

  .leer-mas{
      margin-bottom: 24px;
      font-weight: 700;
    }

  .img-articulos {
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 300px;
    max-height: 243px;
  }

  .articulo-title {
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 620px) {
    .articulo{
      padding: 0.8rem;
    }
    .flex {
      flex-direction: column;
    }
    .img-articulos {
      max-width: 100%;
    }
  }
</style>
