---
import elFetiche from "../assets/img/articulos/articulos-el-fetiche.jpeg";
import rebelion from "../assets/img/articulos/articulos-rebelion.jpeg";
import masacre from "../assets/img/articulos/articulos-masacre.jpg";
---

<section class="section articulos">
  <h2 class="title">Artículos</h2>
  <section>
    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={masacre.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">
            Masacre en la granja Resilencia San Fernando
          </h3>
          <p class="text articulo-text">
            Articulo publicado en la revista C del diario Crítica (2008) y en
            Emeequis (México). Ustedes dirán que exagero, pero les juro que no
            es así. Ya verán. Todo empezó por
          </p>
        </div>
        <a href="articulos.html" class="btn leer-mas">Leer más</a>
      </div>
    </div>

    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={rebelion.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">Rebelión en la granja</h3>
          <p class="text articulo-text">
            Articulo publicado en la revista C del diario Crítica (2008) y en
            Emeequis (México). Ustedes dirán que exagero, pero les juro que no
            es así. Ya verán. Todo empezó por
          </p>
        </div>
        <a href="articulos.html" class="btn leer-mas">Leer más</a>
      </div>
    </div>
    <div class="articulo flex">
      <img
        class="img img-articulos"
        src={elFetiche.src}
        alt="imagen del artículo El fetiche diferente"
      />
      <div class="flex-column">
        <div>
          <h3 class="articulo-title">El fetiche diferente</h3>
          <p class="text articulo-text">
            Articulo publicado en la revista C del diario Crítica (2008) y en
            Emeequis (México). Ustedes dirán que exagero, pero les juro que no
            es así. Ya verán. Todo empezó por
          </p>
        </div>
        <a href="articulos.html" class="btn leer-mas">Leer más</a>
      </div>
    </div>
  </section>
</section>

<style>
  .articulo {
    margin-block: 1rem;
    background-color: var(--cl-ligther-blue);
    box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .img-articulos {
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 300px;
    min-height: 243px;
  }

  .articulo-title {
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 620px) {
    .flex {
      flex-direction: column;
    }
    .img-articulos {
      max-width: 100%;
    }
  }
</style>
