---
export interface Props {
  id: string;
  title: string;
  img: string;
  fecha: string;
  descripcion: string;
}

const { id, title,descripcion, img } = Astro.props;
---

<div class="card">
  <a href={`/${id}`}>
    <div class="card-wrapper">
      <img src={img} alt="" />
      <div>
        <strong>{title}</strong>
        <p class="text">{descripcion.slice(0,127)}...</p>
      </div>
    </div>
  </a>
</div>

<style>
  .card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    padding: 12px;
  }

  .card-wrapper {
    display: flex;
    gap: 1rem;
  }

  .card-wrapper > img {
    width: 155px;
    height: 134px;
    object-fit: cover;
    border-radius: 10px;
  }
  strong {
    color: var(--cl-dark-blue);
    font-size: 1.3rem;
  }
</style>
