---

---

<footer>
 <div class="footer-wrapper">
  <p>1125658599 | pablogalfre@gmail.com</p>
  <ul>
    <li>Ig</li>
    <li>facebook</li>
  </ul>
  <p>
    Sitio web creado por <a href="www.desarrollosmonigote.com"
      >Desarrollos Monigote</a
    > 2023
  </p>
 </div>
</footer>

<style>
  footer {
    background-color: var(--cl-dark-blue);
    color: var(--cl-white);
   
  }
  .footer-wrapper {
    width: min(100% - 1rem, 1440px);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
</style>
