---

---

<footer>
    <p>Pablo Galfré</p>
    <p>telefono</p>
    <ul>
        <li>Ig</li>
        <li>facebook</li>
    </ul>
    <p>Sitio web creado por <a href="www.desarrollosmonigote.com">Desarrollos Monigote</a> 2023</p>

</footer>

<style>
	footer {
        background-color: var(--cl-dark-blue);
        text-align: center;
        color: var(--cl-white)
    }
</style>
