---

---

<header>
    <p>Pablo Galfré</p>
    
    <ul>
        <li>Documentales</li>
        <li>Libros</li>
    </ul>

</header>

<style>
	header {
        background-color: var(--cl-dark-blue);
        color: var(--cl-white)
    }
</style>