---

---

<footer>
 <div class="footer-wrapper">
  <p>1125658599 | pablogalfre@gmail.com</p>
  <ul class="social-items">
    <li><a href="https://www.instagram.com/pablo_galfre/"target=”_blank” rel=”noopener noreferrer“><i class="fa-brands fa-instagram"style="color: #829cc0;"></i></a></li>
    <li><a href="https://www.facebook.com/pablo.galfre.1/" target=”_blank” rel=”noopener noreferrer“><i class="fa-brands fa-facebook fa-lg" style="color: #829cc0;"></i></a></li>
  </ul>
  <p>
    Sitio web creado por <a href="www.desarrollosmonigote.com"
      >Desarrollos Monigote</a
    > 2023
  </p>
 </div>
</footer>
<script src="https://kit.fontawesome.com/aa037f8851.js" crossorigin="anonymous"></script>

<style>
  footer {
    background-color: var(--cl-dark-blue);
    color: var(--cl-white);
  }
  .footer-wrapper {
    width: min(100% - 1rem, 1440px);
    padding-block: 2rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    display: flex;
    gap: 2rem;
  }

  ul > li > a > i {
    font-size: 30px;
  }

  @media (max-width: 820px) {
    .footer-wrapper {
      flex-direction: column;
      padding-block: 1rem;
    }
    .social-items {
      order: 1;
    }
    p {
      text-wrap: balance;
      text-align: center;
    }
  }
</style>
